
<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="assets/images/3.jpg" alt="">
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper">Find your inner Beauty & </span>
          <span class="section-heading-lower">True wellness</span>
        </h2>
        <p class="mb-3">Welcome to a place that nourishes your body, 
          mind, and spirit. We combine ancient Ayurveda with 
          contemporary wellness to bring you the care you deserve.
          Schedule consultation!
        </p>
        <div class="intro-button mx-auto">
          <a class="btn btn-primary btn-xl" href="#">Visit Us Today!</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Our Promise</span>
            <span class="section-heading-lower">Total Rejuvenation
            </span>
          </h2>
          <p class="mb-0">

            Our authentic & classical Ayurvedic treatments and our therapists 
            are the best in the industry. Our clients choose
            Veda Spa over other Ayurvedic spas due to the excellent professional 
            service, cleanliness and ambience we provide.
             We believe in complete client satisfaction and have a 
             wide array of classical Ayurvedic treatments, ranging from full body therapies,
              facials, pedicures, manicures, hair treatments, 
              skin treatments, 
              detox / weight loss programs.
              
          </p>
          </div>
      </div>
    </div>
  </div>
</section>

<section class="page-section" id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        
        <h2 class="section-heading text-uppercase">Featured spa retreats
        </h2>
        <h3 class="section-subheading text-muted">***************************</h3>
      </div>
      
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
        <img class="img-service" src="/assets/images/service1.jpg" alt="">  
        </span>
        <h4 class="service-heading">AYURVEDIC REJUVENATION</h4>
        <p class="text-muted">
          Veda's Rejuvenation Programme is designed to suit every individual’s personal needs. The programme aims at improving vitality of one’s body through Panchakarma treatments along with complementing Ayurvedic treatments, controlled diet and yoga. The programme results in improved immunity and energy, better metabolism and healthy, glowing refreshed skin.
          </p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <img class="img-service" src="/assets/images/service2.jpg" alt="">  
          </span>
        <h4 class="service-heading">REBALANCE</h4>
        <p class="text-muted">The programme aims at balancing the body holistically, looking at circadian rhythm and the internal body clock. This is ideal for anyone who is stressed out emotionally and physically and needs to take a break from their day to day life and invest some time in themselves, whilst providing you with the rest and relaxation needed to allow your body and mind to heal. </p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <img class="img-service" src="/assets/images/service3.jpg" alt="">  
          </span>
        <h4 class="service-heading">PANCHAKARMA</h4>
        <p class="text-muted">
          The traditional science of Ayurvedic Panchakarma offers the most natural and complete cleanse. It is the ideal method of detoxifying and rejuvenating the body and mind and healing from within. 

          </p>
          </div>
    </div>
  </div>
</section>
  <section class="page-section" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">About</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="assets/images/benefit1.jpeg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>INCREASED ENERGY & MENTAL FOCUS</h4>
                  
                </div>
                <div class="timeline-body">
                  <p class="text-muted">
                    Yoga and meditation to open the heart, strengthen the body, clear the mind, and lift the spirit.
                    </p>
                    </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="assets/images/benefit1.jpeg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>RELIEVE ANXIETY, DEPRESSION, AND STRESS</h4>
                  
                </div>
                <div class="timeline-body">
                  <p class="text-muted">
                    Proven techniques to significantly increase well-being mentally and physically, including Sudarshan Kriya Yoga—a powerful breathing practice.
                    </p>
                    </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="/assets/images/benefit1.jpeg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>RESILIENCE AND EMOTIONAL REGULATION</h4>
                 
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Practical ancient wisdom for dealing with conflict and triumphing over life's hurdles.</p>
                </div>
              </div>
            </li>
            
            <li class="timesline-inverted">
              <div class="timeline-image">
                <h4>Live Life
                  <br>Veda
                  <br>Style!</h4>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>