<div class="chat">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Veda Bot</mat-card-title>
      <mat-card-subtitle>Take an appointment</mat-card-subtitle>
  </mat-card-header>
   <mat-card-content>
      <p>
      <nb-chat class="chatmsgs">
        <nb-chat-message   *ngFor="let msg of messages"
                   type="text"
                   [message]="msg.text"
                   [reply]="msg.reply"
                   [sender]="msg.sender"
                   [date]="msg.date"
                   [avatar]="msg.avatar">
        </nb-chat-message>  
      <nb-chat-message *ngIf="loading" [nbSpinner]="loading" nbSpinnerStatus="info"
      type="text"
      avatar="/assets/bot.jpeg"
      message="...">
      </nb-chat-message>
  <nb-chat-form (send)="handleUserMessage($event)" [dropFiles]="true">
  </nb-chat-form>
</nb-chat>
</p>
</mat-card-content>
<mat-card-actions>
<button mat-button (click)="clearchat()">CLEAR</button>
<button mat-button>SHARE</button>
</mat-card-actions>
</mat-card>
</div>  
